USE [agrorobots]
GO
/****** Object:  StoredProcedure [dbo].[SetDHToRow]    Script Date: 10/12/2015 21:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetDHToRow]
(
@table varchar(50),
@id varchar(100),
@hash varchar(1000)
)
as

DECLARE @str varchar(1000);

set @str = 'update ' + @table + ' set DigitoH=' + char(39) + @hash + char(39) + ' where ' + @id;

exec(@str);
GO
/****** Object:  Table [dbo].[Novedades]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Novedades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [varchar](max) NULL,
	[Foto] [image] NULL,
	[Fecha] [datetime] NULL,
	[IDCategoriaTema] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Novedades] ON
SET IDENTITY_INSERT [dbo].[Novedades] OFF
/****** Object:  StoredProcedure [dbo].[GetTable4DV]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetTable4DV]
(
@table varchar(50)
)
as
exec('select * from ' + @table);
GO
/****** Object:  StoredProcedure [dbo].[GetRow4DH]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetRow4DH]
(
@table varchar(50),
@id varchar(100)
)
as

exec('select * from ' + @table + ' where ' + @id);
GO
/****** Object:  Table [dbo].[Newsletter_CategoriaTema]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newsletter_CategoriaTema](
	[IDNewsletter] [int] NOT NULL,
	[IDCategoria] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Newsletter_CategoriaTema] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Newsletter_CategoriaTema] ON
INSERT [dbo].[Newsletter_CategoriaTema] ([IDNewsletter], [IDCategoria], [ID]) VALUES (12, 1, 30)
INSERT [dbo].[Newsletter_CategoriaTema] ([IDNewsletter], [IDCategoria], [ID]) VALUES (12, 3, 31)
SET IDENTITY_INSERT [dbo].[Newsletter_CategoriaTema] OFF
/****** Object:  Table [dbo].[Newsletter]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Newsletter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[IDIdioma] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Newsletter] ON
INSERT [dbo].[Newsletter] ([ID], [Email], [Nombre], [IDIdioma]) VALUES (12, N'mural@avi-on.com', N'', 1)
SET IDENTITY_INSERT [dbo].[Newsletter] OFF
/****** Object:  Table [dbo].[Mensajes]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensajes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Contenido] [varchar](255) NULL,
	[UsuarioEmisor] [int] NULL,
	[EmailEmisor] [varchar](50) NULL,
	[RolEmisor] [int] NULL,
	[UsuarioReceptor] [int] NULL,
	[EmailReceptor] [varchar](50) NULL,
	[RolReceptor] [int] NULL,
	[Broadcast] [bit] NULL,
	[ID_Conversacion] [int] NULL,
	[LeidoEmisor] [bit] NULL,
	[LeidoReceptor] [bit] NULL,
	[Fecha] [datetime] NULL,
	[BorradoEmisor] [bit] NULL,
	[BorradoReceptor] [bit] NULL,
	[Chat] [bit] NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Mensajes] ON
INSERT [dbo].[Mensajes] ([ID], [Contenido], [UsuarioEmisor], [EmailEmisor], [RolEmisor], [UsuarioReceptor], [EmailReceptor], [RolReceptor], [Broadcast], [ID_Conversacion], [LeidoEmisor], [LeidoReceptor], [Fecha], [BorradoEmisor], [BorradoReceptor], [Chat]) VALUES (16, N'Hola, como me anoto ?', 0, N'mural@avi-on.com', 0, 0, N'', 41, 0, 0, 1, 1, CAST(0x0000A43B00155CB4 AS DateTime), 0, 0, 0)
INSERT [dbo].[Mensajes] ([ID], [Contenido], [UsuarioEmisor], [EmailEmisor], [RolEmisor], [UsuarioReceptor], [EmailReceptor], [RolReceptor], [Broadcast], [ID_Conversacion], [LeidoEmisor], [LeidoReceptor], [Fecha], [BorradoEmisor], [BorradoReceptor], [Chat]) VALUES (17, N'HolaAdMiN !L:!  b-vc', 11, N'mural@scvsoft.com', 0, 0, N'', 41, 0, 0, 1, 1, CAST(0x0000A43B001A97A2 AS DateTime), 1, 1, 0)
INSERT [dbo].[Mensajes] ([ID], [Contenido], [UsuarioEmisor], [EmailEmisor], [RolEmisor], [UsuarioReceptor], [EmailReceptor], [RolReceptor], [Broadcast], [ID_Conversacion], [LeidoEmisor], [LeidoReceptor], [Fecha], [BorradoEmisor], [BorradoReceptor], [Chat]) VALUES (18, N'Nuevo mensaje con mapper renovado!', 11, N'mural@scvsoft.com', 0, 0, N'', 41, 0, 0, 1, 1, CAST(0x0000A457003B3037 AS DateTime), 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Mensajes] OFF
/****** Object:  Table [dbo].[Idioma]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idioma](
	[ID] [smallint] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Codigo] [varchar](10) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Idioma] ([ID], [Nombre], [Codigo]) VALUES (1, N'Español', N'es-AR')
INSERT [dbo].[Idioma] ([ID], [Nombre], [Codigo]) VALUES (2, N'English', N'en-US')
INSERT [dbo].[Idioma] ([ID], [Nombre], [Codigo]) VALUES (3, N'Frances', N'fr-FR')
/****** Object:  Table [dbo].[FichaEncuesta_Pregunta]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FichaEncuesta_Pregunta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFichaEncuestaBase] [int] NOT NULL,
	[Pregunta] [varchar](max) NULL,
 CONSTRAINT [PK_FichaEncuesta_Pregunta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FichaEncuesta_Pregunta] ON
INSERT [dbo].[FichaEncuesta_Pregunta] ([ID], [IDFichaEncuestaBase], [Pregunta]) VALUES (1, 1, N'Cultivos en departamentos')
INSERT [dbo].[FichaEncuesta_Pregunta] ([ID], [IDFichaEncuestaBase], [Pregunta]) VALUES (3, 1, N'Cultivos de crecimiento rapido')
SET IDENTITY_INSERT [dbo].[FichaEncuesta_Pregunta] OFF
/****** Object:  Table [dbo].[FichaEncuesta_Respuesta]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FichaEncuesta_Respuesta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFichaEncuesta] [int] NOT NULL,
	[IDPregunta] [int] NOT NULL,
	[Respuesta] [varchar](max) NULL,
 CONSTRAINT [PK_FichaEncuesta_Respuesta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FichaEncuesta_Respuesta] ON
INSERT [dbo].[FichaEncuesta_Respuesta] ([ID], [IDFichaEncuesta], [IDPregunta], [Respuesta]) VALUES (1, 1, 1, N'Cultivos de crecimiento rapido')
SET IDENTITY_INSERT [dbo].[FichaEncuesta_Respuesta] OFF
/****** Object:  Table [dbo].[Formulario]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Formulario](
	[ID] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Formulario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Formulario] ([ID], [Descripcion]) VALUES (10001, N'MDIForm')
INSERT [dbo].[Formulario] ([ID], [Descripcion]) VALUES (10002, N'FormBackUp')
INSERT [dbo].[Formulario] ([ID], [Descripcion]) VALUES (10003, N'FormFamilies')
/****** Object:  Table [dbo].[ComprobanteNotaDetalle]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComprobanteNotaDetalle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdComprobanteNota] [int] NULL,
	[CodigoProducto] [int] NULL,
	[Detalle] [varchar](max) NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ComprobanteNotaDetalle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ElementoAcademico]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ElementoAcademico](
	[CodigoAcademico] [int] IDENTITY(1,1) NOT NULL,
	[Comentario] [varchar](255) NULL,
	[Contenido] [varchar](255) NULL,
	[CriteriosAprobacion] [varchar](255) NULL,
	[Descripcion] [varchar](255) NULL,
	[Duracion] [int] NULL,
	[FechaInicio] [date] NULL,
	[Nombre] [varchar](100) NULL,
	[Temas] [varchar](255) NULL,
	[Cupo] [int] NULL,
	[Clases] [int] NULL,
	[Precio] [decimal](18, 2) NULL,
	[Imagen] [image] NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_ElementoAcademico] PRIMARY KEY CLUSTERED 
(
	[CodigoAcademico] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ElementoAcademico] ON
INSERT [dbo].[ElementoAcademico] ([CodigoAcademico], [Comentario], [Contenido], [CriteriosAprobacion], [Descripcion], [Duracion], [FechaInicio], [Nombre], [Temas], [Cupo], [Clases], [Precio], [Imagen], [Estado]) VALUES (1, N'Comentario del director', N'Preparacion de cultivos. Regado. Tratamiento y mantenimiento.', N'', N'Este curso consiste en la preparacion de los cultivos hidroponicos.', 0, CAST(0x923A0B00 AS Date), N'Cultivos I', N'', 25, 8, CAST(1601.00 AS Decimal(18, 2)), NULL, N'ConContenido')
INSERT [dbo].[ElementoAcademico] ([CodigoAcademico], [Comentario], [Contenido], [CriteriosAprobacion], [Descripcion], [Duracion], [FechaInicio], [Nombre], [Temas], [Cupo], [Clases], [Precio], [Imagen], [Estado]) VALUES (2, N'Comentario del director', N'Cultivos avanzados, tecnicas automatizadas.', N'Se toman 2 examenes y debe ser del 70%.', N'Este curso consiste en la preparacion de los cultivos hidroponicos.', 45, CAST(0x923A0B00 AS Date), N'Cultivos II', N'Cultivos, Hidroponia, Regado.', 25, 8, CAST(1800.50 AS Decimal(18, 2)), NULL, N'Disponible')
INSERT [dbo].[ElementoAcademico] ([CodigoAcademico], [Comentario], [Contenido], [CriteriosAprobacion], [Descripcion], [Duracion], [FechaInicio], [Nombre], [Temas], [Cupo], [Clases], [Precio], [Imagen], [Estado]) VALUES (3, N'Comentario del director', N'Introduccion a la hidroponia. Cuidado de cultivos hidroponicos.', N'Se toman 2 examenes y debe ser del 70%.', N'Este curso consiste en la preparacion de los cultivos hidroponicos.', 50, CAST(0x923A0B00 AS Date), N'Hidroponia I', N'Cultivos, Hidroponia, Regado.', 20, 10, CAST(2200.00 AS Decimal(18, 2)), NULL, N'Disponible')
SET IDENTITY_INSERT [dbo].[ElementoAcademico] OFF
/****** Object:  Table [dbo].[DigitoV]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DigitoV](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](50) NULL,
	[DigitoV] [varchar](50) NULL,
 CONSTRAINT [PK_DigitoV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DigitoV] ON
INSERT [dbo].[DigitoV] ([ID], [Tabla], [DigitoV]) VALUES (1, N'Usuario', N'E2E319743807360E28CA62E1F48385C2')
SET IDENTITY_INSERT [dbo].[DigitoV] OFF
/****** Object:  Table [dbo].[FichaEncuesta_Base]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FichaEncuesta_Base](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [image] NULL,
	[Tipo] [varchar](10) NULL,
	[Descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_FichaEncuesta_Base] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FichaEncuesta_Base] ON
INSERT [dbo].[FichaEncuesta_Base] ([ID], [Foto], [Tipo], [Descripcion]) VALUES (1, NULL, N'E', N'Encuesta sobre un nuevo curso.')
SET IDENTITY_INSERT [dbo].[FichaEncuesta_Base] OFF
/****** Object:  Table [dbo].[FichaEncuesta]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FichaEncuesta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFichaEncuestaBase] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Sesion] [varchar](max) NULL,
	[RespuestaUnica] [varchar](max) NULL,
 CONSTRAINT [PK_FichaEncuesta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FichaEncuesta] ON
INSERT [dbo].[FichaEncuesta] ([ID], [IDFichaEncuestaBase], [Fecha], [Usuario], [Email], [Sesion], [RespuestaUnica]) VALUES (1, 1, CAST(0x0000A476013F7D94 AS DateTime), NULL, NULL, N'SES_CMACAOSMACMSOASMOSFMSOAJFOAJFAOFJASOFSJAOJFAO', N'Cultivos de crecimiento rapido')
INSERT [dbo].[FichaEncuesta] ([ID], [IDFichaEncuestaBase], [Fecha], [Usuario], [Email], [Sesion], [RespuestaUnica]) VALUES (2, 1, CAST(0x0000A4B300220B39 AS DateTime), NULL, NULL, N'pxzyaynyfrag1wktndnzfmt1', N'Cultivos de crecimiento rapido')
INSERT [dbo].[FichaEncuesta] ([ID], [IDFichaEncuestaBase], [Fecha], [Usuario], [Email], [Sesion], [RespuestaUnica]) VALUES (3, 1, CAST(0x0000A4B300220B39 AS DateTime), NULL, NULL, N'pxzyaynyfrag1wktndnzfmt1', N'Cultivos de crecimiento rapido')
SET IDENTITY_INSERT [dbo].[FichaEncuesta] OFF
/****** Object:  Table [dbo].[ComprobanteNota]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComprobanteNota](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NULL,
	[Tipo] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaEmision] [date] NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[IVA] [decimal](18, 2) NULL,
	[IdComprobante] [int] NULL,
	[Motivo] [varchar](max) NULL,
 CONSTRAINT [PK_ComprobanteNota] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[CreateBackUp]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CreateBackUp]
(
@location varchar(2000)
)
as
BACKUP DATABASE [agrorobots] TO DISK = @location WITH NOFORMAT, NOINIT,  NAME = N'Agrorobots-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO
/****** Object:  Table [dbo].[CategoriaTema]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoriaTema](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriaTema] ON
INSERT [dbo].[CategoriaTema] ([ID], [Nombre]) VALUES (1, N'Cursos')
INSERT [dbo].[CategoriaTema] ([ID], [Nombre]) VALUES (2, N'Eventos')
INSERT [dbo].[CategoriaTema] ([ID], [Nombre]) VALUES (3, N'Promociones')
SET IDENTITY_INSERT [dbo].[CategoriaTema] OFF
/****** Object:  StoredProcedure [dbo].[GetCapacidadesPorPerfil]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCapacidadesPorPerfil]
(
	@id_perfil int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT c.ID, c.Descripcion, cp.Nivel
	FROM Capacidades c
	INNER JOIN Capacidad_Perfil cp ON c.ID = cp.ID_Capacidad
	WHERE cp.ID_Perfil = @id_perfil 
END
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bitacora](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Tipo] [varchar](10) NULL,
	[Descripcion] [varchar](2000) NULL,
	[User] [varchar](50) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON
INSERT [dbo].[Bitacora] ([ID], [FechaHora], [Tipo], [Descripcion], [User]) VALUES (42471, CAST(0x0000A41B00D369D9 AS DateTime), N'Login', N'Login exitoso', N'admin')
INSERT [dbo].[Bitacora] ([ID], [FechaHora], [Tipo], [Descripcion], [User]) VALUES (42472, CAST(0x0000A41B00D5CBAB AS DateTime), N'Login', N'Login exitoso', N'admin')
INSERT [dbo].[Bitacora] ([ID], [FechaHora], [Tipo], [Descripcion], [User]) VALUES (42473, CAST(0x0000A41B00D68192 AS DateTime), N'Login', N'Login exitoso', N'admin')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
/****** Object:  Table [dbo].[Componente]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Componente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Control_ID] [int] NULL,
	[URL] [varchar](50) NULL,
 CONSTRAINT [PK_Componente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Componente] ON
INSERT [dbo].[Componente] ([ID], [Nombre], [Descripcion], [Control_ID], [URL]) VALUES (41, N'Administrador', N'Para administradores', NULL, NULL)
INSERT [dbo].[Componente] ([ID], [Nombre], [Descripcion], [Control_ID], [URL]) VALUES (47, N'Carreras_3003', N'Carreras', 0, N'Carreras.aspx')
INSERT [dbo].[Componente] ([ID], [Nombre], [Descripcion], [Control_ID], [URL]) VALUES (48, N'BackUp_10104', N'BackUp', 1, N'Backup.aspx')
SET IDENTITY_INSERT [dbo].[Componente] OFF
/****** Object:  Table [dbo].[Comprobante]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NULL,
	[Sucursal] [int] NULL,
	[Tipo] [int] NULL,
	[IdUsuario] [int] NULL,
	[FechaEmision] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[IVA] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comprobante] ON
INSERT [dbo].[Comprobante] ([ID], [Numero], [Sucursal], [Tipo], [IdUsuario], [FechaEmision], [FechaVencimiento], [Subtotal], [IVA]) VALUES (1, 1, 1, 1, 11, CAST(0x8A3A0B00 AS Date), CAST(0x943A0B00 AS Date), CAST(4803.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Comprobante] ([ID], [Numero], [Sucursal], [Tipo], [IdUsuario], [FechaEmision], [FechaVencimiento], [Subtotal], [IVA]) VALUES (2, 1, 1, 1, 11, CAST(0x8A3A0B00 AS Date), CAST(0x943A0B00 AS Date), CAST(2200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Comprobante] OFF
/****** Object:  Table [dbo].[ComprobanteDetalle]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComprobanteDetalle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdComprobante] [int] NULL,
	[CodigoProducto] [int] NULL,
	[Detalle] [varchar](max) NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Subtotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ComprobanteDetalle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ComprobanteDetalle] ON
INSERT [dbo].[ComprobanteDetalle] ([ID], [IdComprobante], [CodigoProducto], [Detalle], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, N'Cultivos I', 1, CAST(1601.00 AS Decimal(18, 2)), CAST(1601.00 AS Decimal(18, 2)))
INSERT [dbo].[ComprobanteDetalle] ([ID], [IdComprobante], [CodigoProducto], [Detalle], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (2, 1, 1, N'Cultivos I', 2, CAST(1601.00 AS Decimal(18, 2)), CAST(3202.00 AS Decimal(18, 2)))
INSERT [dbo].[ComprobanteDetalle] ([ID], [IdComprobante], [CodigoProducto], [Detalle], [Cantidad], [PrecioUnitario], [Subtotal]) VALUES (3, 2, 3, N'Hidroponia I', 1, CAST(2200.00 AS Decimal(18, 2)), CAST(2200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ComprobanteDetalle] OFF
/****** Object:  StoredProcedure [dbo].[ComprobanteBorrar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteBorrar]	@ID intASSET NOCOUNT ONDELETE FROM ComprobanteWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteActualizar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteActualizar]	@ID int,	@Numero int,	@Sucursal int,	@Tipo int,	@IdUsuario int,	@FechaEmision date,	@FechaVencimiento date,	@Subtotal decimal,	@IVA decimalASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO Comprobante (		[Numero],		[Sucursal],		[Tipo],		[IdUsuario],		[FechaEmision],		[FechaVencimiento],		[Subtotal],		[IVA]	)	VALUES (		@Numero,		@Sucursal,		@Tipo,		@IdUsuario,		@FechaEmision,		@FechaVencimiento,		@Subtotal,		@IVA	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE Comprobante SET 		[Numero] = @Numero,		[Sucursal] = @Sucursal,		[Tipo] = @Tipo,		[IdUsuario] = @IdUsuario,		[FechaEmision] = @FechaEmision,		[FechaVencimiento] = @FechaVencimiento,		[Subtotal] = @Subtotal,		[IVA] = @IVA	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[CategoriaTemaObtener]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CategoriaTemaObtener]	@ID intASSET NOCOUNT ONSELECT * FROM CategoriaTemaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[CategoriaTemaListar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CategoriaTemaListar]ASSET NOCOUNT ONSELECT * FROM CategoriaTemaSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[CategoriaTemaBorrar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CategoriaTemaBorrar]	@ID intASSET NOCOUNT ONDELETE FROM CategoriaTemaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[CategoriaTemaActualizar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CategoriaTemaActualizar]	@ID int,	@Nombre varchar(50)ASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO CategoriaTema (		[Nombre]	)	VALUES (		@Nombre	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE CategoriaTema SET 		[Nombre] = @Nombre	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  Table [dbo].[Control]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Control](
	[ID] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Form_ID] [int] NULL,
 CONSTRAINT [PK_Control] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Control] ([ID], [Descripcion], [Form_ID]) VALUES (1, N'File', 10001)
INSERT [dbo].[Control] ([ID], [Descripcion], [Form_ID]) VALUES (2, N'Edit', 10001)
INSERT [dbo].[Control] ([ID], [Descripcion], [Form_ID]) VALUES (3, N'View', 10001)
GO
print 'Processed 100 total records'
/****** Object:  StoredProcedure [dbo].[ComprobanteObtener]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteObtener]	@ID intASSET NOCOUNT ONSELECT * FROM ComprobanteWHERE [ID] = @ID
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaObtener]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaObtener]	@ID intASSET NOCOUNT ONSELECT * FROM ComprobanteNotaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaListar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaListar]ASSET NOCOUNT ONSELECT * FROM ComprobanteNotaSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaDetalleObtener]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaDetalleObtener]	@ID intASSET NOCOUNT ONSELECT * FROM ComprobanteNotaDetalleWHERE [ID] = @ID
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaDetalleListar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaDetalleListar]ASSET NOCOUNT ONSELECT * FROM ComprobanteNotaDetalleSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaDetalleBorrar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaDetalleBorrar]	@ID intASSET NOCOUNT ONDELETE FROM ComprobanteNotaDetalleWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaDetalleActualizar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaDetalleActualizar]	@ID int,	@IdComprobanteNota int,	@CodigoProducto int,	@Detalle varchar(MAX),	@Cantidad int,	@PrecioUnitario decimal,	@Subtotal decimalASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO ComprobanteNotaDetalle (		[IdComprobanteNota],		[CodigoProducto],		[Detalle],		[Cantidad],		[PrecioUnitario],		[Subtotal]	)	VALUES (		@IdComprobanteNota,		@CodigoProducto,		@Detalle,		@Cantidad,		@PrecioUnitario,		@Subtotal	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE ComprobanteNotaDetalle SET 		[IdComprobanteNota] = @IdComprobanteNota,		[CodigoProducto] = @CodigoProducto,		[Detalle] = @Detalle,		[Cantidad] = @Cantidad,		[PrecioUnitario] = @PrecioUnitario,		[Subtotal] = @Subtotal	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteListar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteListar]ASSET NOCOUNT ONSELECT * FROM ComprobanteSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteDetalleObtener]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteDetalleObtener]	@ID intASSET NOCOUNT ONSELECT * FROM ComprobanteDetalleWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteDetalleListar]    Script Date: 10/12/2015 21:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteDetalleListar]ASSET NOCOUNT ONSELECT * FROM ComprobanteDetalleSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteDetalleBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteDetalleBorrar]	@ID intASSET NOCOUNT ONDELETE FROM ComprobanteDetalleWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteDetalleActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteDetalleActualizar]	@ID int,	@IdComprobante int,	@CodigoProducto int,	@Detalle varchar(MAX),	@Cantidad int,	@PrecioUnitario decimal,	@Subtotal decimalASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO ComprobanteDetalle (		[IdComprobante],		[CodigoProducto],		[Detalle],		[Cantidad],		[PrecioUnitario],		[Subtotal]	)	VALUES (		@IdComprobante,		@CodigoProducto,		@Detalle,		@Cantidad,		@PrecioUnitario,		@Subtotal	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE ComprobanteDetalle SET 		[IdComprobante] = @IdComprobante,		[CodigoProducto] = @CodigoProducto,		[Detalle] = @Detalle,		[Cantidad] = @Cantidad,		[PrecioUnitario] = @PrecioUnitario,		[Subtotal] = @Subtotal	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ElementoAcademicoObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ElementoAcademicoObtener]	@CodigoAcademico intASSET NOCOUNT ONSELECT * FROM ElementoAcademicoWHERE [CodigoAcademico] = @CodigoAcademicoSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ElementoAcademicoListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ElementoAcademicoListar]ASSET NOCOUNT ONSELECT * FROM ElementoAcademicoSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ElementoAcademicoBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ElementoAcademicoBorrar]	@CodigoAcademico intASSET NOCOUNT ONDELETE FROM ElementoAcademicoWHERE [CodigoAcademico] = @CodigoAcademicoSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ElementoAcademicoActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ElementoAcademicoActualizar]

	@CodigoAcademico int,
	@Comentario varchar(255) = NULL,
	@Contenido varchar(255),
	@CriteriosAprobacion varchar(255) = NULL,
	@Descripcion varchar(255) = NULL,
	@Duracion int = NULL,
	@FechaInicio date = NULL,
	@Nombre varchar(100),
	@Temas varchar(255) = NULL,
	@Cupo int = NULL,
	@Clases int = NULL,
	@Precio decimal = NULL,
	@Imagen image = NULL,
	@Estado varchar(50)
AS
SET NOCOUNT ON
IF @CodigoAcademico = 0 BEGIN
	INSERT INTO ElementoAcademico (
		[Comentario],
		[Contenido],
		[CriteriosAprobacion],
		[Descripcion],
		[Duracion],
		[FechaInicio],
		[Nombre],
		[Temas],
		[Cupo],
		[Clases],
		[Precio],
		[Imagen],
		[Estado]
	)
	VALUES (
		@Comentario,
		@Contenido,
		@CriteriosAprobacion,
		@Descripcion,
		@Duracion,
		@FechaInicio,
		@Nombre,
		@Temas,
		@Cupo,
		@Clases,
		@Precio,
		@Imagen,
		@Estado
	)
	SELECT SCOPE_IDENTITY() As InsertedID
END
ELSE BEGIN
	UPDATE ElementoAcademico SET 
		[Comentario] = @Comentario,
		[Contenido] = @Contenido,
		[CriteriosAprobacion] = @CriteriosAprobacion,
		[Descripcion] = @Descripcion,
		[Duracion] = @Duracion,
		[FechaInicio] = @FechaInicio,
		[Nombre] = @Nombre,
		[Temas] = @Temas,
		[Cupo] = @Cupo,
		[Clases] = @Clases,
		[Precio] = @Precio,
		[Imagen] = @Imagen,
		[Estado] = @Estado
	WHERE [CodigoAcademico] = @CodigoAcademico

END

SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[GetAllFamilies]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllFamilies]
as
select ID, Nombre, Descripcion from componente 
where Control_ID is null
GO
/****** Object:  StoredProcedure [dbo].[GetAllDigits]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllDigits]
as
select Tabla, DigitoV from DigitoV
GO
/****** Object:  StoredProcedure [dbo].[GetAllComponents]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllComponents]
as
select c.ID, c.Nombre, c.Descripcion, c.Control_ID, c.URL from componente c
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaBorrar]	@ID intASSET NOCOUNT ONDELETE FROM ComprobanteNotaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteNotaActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ComprobanteNotaActualizar]	@ID int,	@Numero int,	@Tipo int,	@IdUsuario int,	@FechaEmision date,	@Subtotal decimal,	@IVA decimal,	@IdComprobante int,	@Motivo varchar(MAX)ASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO ComprobanteNota (		[Numero],		[Tipo],		[IdUsuario],		[FechaEmision],		[Subtotal],		[IVA],		[IdComprobante],		[Motivo]	)	VALUES (		@Numero,		@Tipo,		@IdUsuario,		@FechaEmision,		@Subtotal,		@IVA,		@IdComprobante,		@Motivo	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE ComprobanteNota SET 		[Numero] = @Numero,		[Tipo] = @Tipo,		[IdUsuario] = @IdUsuario,		[FechaEmision] = @FechaEmision,		[Subtotal] = @Subtotal,		[IVA] = @IVA,		[IdComprobante] = @IdComprobante,		[Motivo] = @Motivo	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuestaObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuestaObtener]	@ID intASSET NOCOUNT ONSELECT * FROM FichaEncuestaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuestaListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuestaListar]ASSET NOCOUNT ONSELECT * FROM FichaEncuestaSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuestaBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuestaBorrar]	@ID intASSET NOCOUNT ONDELETE FROM FichaEncuestaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuestaActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuestaActualizar]

	@ID int,
	@IDFichaEncuestaBase int,
	@Fecha datetime,
	@Usuario varchar(50) = NULL,
	@Email varchar(50) = NULL,
	@Sesion varchar(MAX) = NULL,
	@RespuestaUnica varchar(MAX) = NULL
AS
SET NOCOUNT ON
IF @ID = 0 BEGIN
	INSERT INTO FichaEncuesta (
		[IDFichaEncuestaBase],
		[Fecha],
		[Usuario],
		[Email],
		[Sesion],
		[RespuestaUnica]
	)
	VALUES (
		@IDFichaEncuestaBase,
		@Fecha,
		@Usuario,
		@Email,
		@Sesion,
		@RespuestaUnica
	)
	SELECT SCOPE_IDENTITY() As InsertedID
END
ELSE BEGIN
	UPDATE FichaEncuesta SET 
		[IDFichaEncuestaBase] = @IDFichaEncuestaBase,
		[Fecha] = @Fecha,
		[Usuario] = @Usuario,
		[Email] = @Email,
		[Sesion] = @Sesion,
		[RespuestaUnica] = @RespuestaUnica
	WHERE [ID] = @ID

END

SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_RespuestaObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_RespuestaObtener]	@ID intASSET NOCOUNT ONSELECT * FROM FichaEncuesta_RespuestaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_RespuestaListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_RespuestaListar]ASSET NOCOUNT ONSELECT * FROM FichaEncuesta_RespuestaSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_RespuestaBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_RespuestaBorrar]	@ID intASSET NOCOUNT ONDELETE FROM FichaEncuesta_RespuestaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_RespuestaActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_RespuestaActualizar]	@ID int,	@IDPregunta int,	@IDFichaEncuesta int,	@Respuesta varchar(MAX)ASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO FichaEncuesta_Respuesta (		[IDPregunta],		[IDFichaEncuesta],		[Respuesta]	)	VALUES (		@IDPregunta,		@IDFichaEncuesta,		@Respuesta	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE FichaEncuesta_Respuesta SET 		[IDPregunta] = @IDPregunta,		[IDFichaEncuesta] = @IDFichaEncuesta,		[Respuesta] = @Respuesta	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_PreguntaObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_PreguntaObtener]	@ID intASSET NOCOUNT ONSELECT * FROM FichaEncuesta_PreguntaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_PreguntaListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_PreguntaListar]ASSET NOCOUNT ONSELECT * FROM FichaEncuesta_PreguntaSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_PreguntaBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_PreguntaBorrar]	@ID intASSET NOCOUNT ONDELETE FROM FichaEncuesta_PreguntaWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_PreguntaActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_PreguntaActualizar]	@ID int,	@IDFichaEncuestaBase int,	@Pregunta varchar(MAX)ASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO FichaEncuesta_Pregunta (		[IDFichaEncuestaBase],		[Pregunta]	)	VALUES (		@IDFichaEncuestaBase,		@Pregunta	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE FichaEncuesta_Pregunta SET 		[IDFichaEncuestaBase] = @IDFichaEncuestaBase,		[Pregunta] = @Pregunta	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_BaseObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_BaseObtener]	@ID intASSET NOCOUNT ONSELECT * FROM FichaEncuesta_BaseWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_BaseListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_BaseListar]ASSET NOCOUNT ONSELECT * FROM FichaEncuesta_BaseSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_BaseBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_BaseBorrar]	@ID intASSET NOCOUNT ONDELETE FROM FichaEncuesta_BaseWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[FichaEncuesta_BaseActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FichaEncuesta_BaseActualizar]	@ID int,	@Foto image,	@Tipo varchar(10),	@Descripcion varchar(MAX)ASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO FichaEncuesta_Base (		[Foto],		[Tipo],		[Descripcion]	)	VALUES (		@Foto,		@Tipo,		@Descripcion	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE FichaEncuesta_Base SET 		[Foto] = @Foto,		[Tipo] = @Tipo,		[Descripcion] = @Descripcion	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[IdiomaActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[IdiomaActualizar]
	-- Add the parameters for the stored procedure here
	@ID as smallint,
	@Desc as varchar(50),
	@Codigo as varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Idioma]
   SET [Nombre] = @Desc,
   [Codigo] = @Codigo
	WHERE [ID] = @ID
END
GO
/****** Object:  Table [dbo].[Idioma_Control]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idioma_Control](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Idioma_ID] [smallint] NOT NULL,
	[Traduccion] [varchar](max) NULL,
	[Control_ID] [int] NULL,
 CONSTRAINT [PK_Idioma_Control] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma_Control] ON
INSERT [dbo].[Idioma_Control] ([ID], [Idioma_ID], [Traduccion], [Control_ID]) VALUES (6, 1, N'Administracion', 4)
INSERT [dbo].[Idioma_Control] ([ID], [Idioma_ID], [Traduccion], [Control_ID]) VALUES (9, 1, N'Error intentando abrir la conexión a la BD.', 90001)
INSERT [dbo].[Idioma_Control] ([ID], [Idioma_ID], [Traduccion], [Control_ID]) VALUES (10, 1, N'Error intentando realizar una consulta a la BD.', 90002)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[Idioma_Control] OFF
/****** Object:  StoredProcedure [dbo].[MensajeObtenerPorUsuario]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MensajeObtenerPorUsuario]
	@Usuario int
AS
SET NOCOUNT ON

SELECT *
FROM Mensajes
WHERE [UsuarioEmisor] = @Usuario OR [UsuarioReceptor] = @Usuario
Order By Fecha  DESC
GO
/****** Object:  StoredProcedure [dbo].[MensajeObtenerPorRol]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MensajeObtenerPorRol]
	@Rol int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
FROM Mensajes
WHERE [RolEmisor] = @Rol OR [RolReceptor] = @Rol
Order By Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[MensajeObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MensajeObtener]	@ID intASSET NOCOUNT ONSELECT * FROM MensajesWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[MensajeListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MensajeListar]
AS
SET NOCOUNT ON

SELECT * 
FROM Mensajes
Order By Fecha  DESC


SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[MensajeBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MensajeBorrar]	@ID intASSET NOCOUNT ONDELETE FROM MensajesWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[MensajeActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MensajeActualizar]

	@ID int,
	@Contenido varchar(50),
	@UsuarioEmisor int,
	@EmailEmisor varchar(50),
	@RolEmisor int,
	@UsuarioReceptor int,
	@EmailReceptor varchar(50),
	@RolReceptor int,
	@Broadcast bit,
	@ID_Conversacion int,
	@LeidoEmisor bit,
	@LeidoReceptor bit,
	@Fecha datetime,
	@BorradoEmisor bit,
	@BorradoReceptor bit,
	@Chat bit
AS
SET NOCOUNT ON
IF @ID = 0 BEGIN
	INSERT INTO Mensajes (
		[Contenido],
		[UsuarioEmisor],
		[EmailEmisor],
		[RolEmisor],
		[UsuarioReceptor],
		[EmailReceptor],
		[RolReceptor],
		[Broadcast],
		[ID_Conversacion],
		[LeidoEmisor],
		[LeidoReceptor],
		[Fecha],
		[BorradoEmisor],
		[BorradoReceptor],
		[Chat]
	)
	VALUES (
		@Contenido,
		@UsuarioEmisor,
		@EmailEmisor,
		@RolEmisor,
		@UsuarioReceptor,
		@EmailReceptor,
		@RolReceptor,
		@Broadcast,
		@ID_Conversacion,
		@LeidoEmisor,
		@LeidoReceptor,
		@Fecha,
		@BorradoEmisor,
		@BorradoReceptor,
		@Chat 
	)
	SELECT SCOPE_IDENTITY() As InsertedID
END
ELSE BEGIN
	UPDATE Mensajes SET 
		[Contenido] = @Contenido,
		[UsuarioEmisor] = @UsuarioEmisor,
		[EmailEmisor] = @EmailEmisor,
		[RolEmisor] = @RolEmisor,
		[UsuarioReceptor] = @UsuarioReceptor,
		[EmailReceptor] = @EmailReceptor,
		[RolReceptor] = @RolReceptor,
		[Broadcast] = @Broadcast,
		[ID_Conversacion] = @ID_Conversacion,
		[LeidoEmisor] = @LeidoEmisor,
		[LeidoReceptor] = @LeidoReceptor,
		[Fecha] = @Fecha,
		[BorradoEmisor] = @BorradoEmisor,
		[BorradoReceptor] = @BorradoReceptor,
		[Chat] = @Chat
	WHERE [ID] = @ID

END

SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[LogInBitagora]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LogInBitagora]
(
@tipo varchar(10),
@desc varchar(2000),
@user varchar(50)
)
as
insert into Bitacora
(
FechaHora,
Tipo,
Descripcion,
[User]
)
values
(
getdate(),
@tipo,
@desc,
@user
)
GO
/****** Object:  StoredProcedure [dbo].[ListarMensajes]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListarMensajes]
AS
SET NOCOUNT ON

SELECT [ID], 
	[Contenido], 
	[UsuarioEmisor], 
	[EmailEmisor],
	[RolEmisor], 
	[UsuarioReceptor], 
	[EmailReceptor],
	[RolReceptor], 
	[Broadcast], 
	[ID_Conversacion], 
	[Leido], 
	[Fecha]
FROM Mensajes


SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[IdiomasListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[IdiomasListar]
as
select i.ID, i.Nombre, i.Codigo from idioma i
order by ID
GO
/****** Object:  StoredProcedure [dbo].[NewsletterObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NewsletterObtener]
	@ID int
AS
SET NOCOUNT ON

SELECT * 
FROM Newsletter
WHERE [ID] = @ID


SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NewsletterListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NewsletterListar]ASSET NOCOUNT ONSELECT * FROM NewsletterSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NewsletterBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NewsletterBorrar]	@ID intASSET NOCOUNT ONDELETE FROM NewsletterWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NewsletterActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NewsletterActualizar]	@ID int,	@Email varchar(50),	@Nombre varchar(50),	@IDIdioma intASSET NOCOUNT ONIF @ID = 0 BEGIN	INSERT INTO Newsletter (		[Email],		[Nombre],		[IDIdioma]	)	VALUES (		@Email,		@Nombre,		@IDIdioma	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE Newsletter SET 		[Email] = @Email,		[Nombre] = @Nombre,		[IDIdioma] = @IDIdioma	WHERE [ID] = @IDENDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[Newsletter_CategoriaTemaObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Newsletter_CategoriaTemaObtener]	@IDNewsletter intASSET NOCOUNT ONSELECT * FROM Newsletter_CategoriaTemaWHERE [IDNewsletter] = @IDNewsletterSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[Newsletter_CategoriaTemaListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Newsletter_CategoriaTemaListar]ASSET NOCOUNT ONSELECT * FROM Newsletter_CategoriaTemaSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[Newsletter_CategoriaTemaBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Newsletter_CategoriaTemaBorrar]	@IDNewsletter intASSET NOCOUNT ONDELETE FROM Newsletter_CategoriaTemaWHERE [IDNewsletter] = @IDNewsletterSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[Newsletter_CategoriaTemaActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Newsletter_CategoriaTemaActualizar]

	@ID int,
	@IDNewsletter int,
	@IDCategoria int
AS
SET NOCOUNT ON
IF @ID = 0 BEGIN
	INSERT INTO Newsletter_CategoriaTema (
		[IDNewsletter],
		[IDCategoria]
	)
	VALUES (
		@IDNewsletter,
		@IDCategoria
	)
	SELECT SCOPE_IDENTITY() As InsertedID
END
ELSE BEGIN
	UPDATE Newsletter_CategoriaTema SET 
		[IDNewsletter] = @IDNewsletter,
		[IDCategoria] = @IDCategoria
	WHERE [ID] = @ID

END

SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NewFamilia]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[NewFamilia]
(
@name varchar(20),
@desc varchar(50)
)
as
insert into Componente
(Nombre, Descripcion)
values
(@name, @desc);

SELECT @@IDENTITY AS 'Identity';
GO
/****** Object:  StoredProcedure [dbo].[GetItemsBitacora]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetItemsBitacora]
as
select * from bitacora
order by FechaHora desc
GO
/****** Object:  StoredProcedure [dbo].[NovedadesObtener]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NovedadesObtener]	@ID intASSET NOCOUNT ONSELECT * FROM NovedadesWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NovedadesListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NovedadesListar]
AS
SET NOCOUNT ON

SELECT * 
FROM Novedades
ORDER BY [Fecha] DESC


SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NovedadesBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NovedadesBorrar]	@ID intASSET NOCOUNT ONDELETE FROM NovedadesWHERE [ID] = @IDSET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[NovedadesActualizar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NovedadesActualizar]

	@ID int,
	@Texto varchar(MAX),
	@Foto image = NULL,
	@Fecha datetime,
	@IDCategoriaTema int
AS
SET NOCOUNT ON
IF @ID = 0 BEGIN
	INSERT INTO Novedades (
		[Texto],
		[Foto],
		[Fecha],
		[IDCategoriaTema]
	)
	VALUES (
		@Texto,
		@Foto,
		@Fecha,
		@IDCategoriaTema
	)
	SELECT SCOPE_IDENTITY() As InsertedID
END
ELSE BEGIN
	UPDATE Novedades SET 
		[Texto] = @Texto,
		[Foto] = @Foto,
		[Fecha] = @Fecha,
		[IDCategoriaTema] = @IDCategoriaTema
	WHERE [ID] = @ID

END

SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[DeleteComponente]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteComponente]
(
@id int
)
as
delete from componente
where ID=@id
GO
/****** Object:  StoredProcedure [dbo].[UpdateFamilia]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[UpdateFamilia]
(
@ID int,
@name varchar(50),
@desc varchar(50)
)
as
update componente
set
Nombre=@name,
Descripcion=@desc
where
ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[SetDVbyTable]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetDVbyTable]
(
@table varchar(50),
@hash varchar(50)
)
as
declare @exist int;
set @exist = (select Count(*) from DigitoV where Tabla=@table);

if @exist = 0
begin
    insert into DigitoV(Tabla,DigitoV) values (@table,@hash);
end
else
begin
    update DigitoV set DigitoV=@hash where Tabla=@table;
end
GO
/****** Object:  StoredProcedure [dbo].[UsuarioObtenerPorId]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UsuarioObtenerPorId]
	
@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from usuario
where ID = @IDUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioListar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UsuarioListar]
as
select * from usuario
order by UserName
GO
/****** Object:  StoredProcedure [dbo].[UsuarioBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UsuarioBorrar]
(
@ID int
)
as
delete from usuario
where id=@ID
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPassword]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateUserPassword]
	-- Add the parameters for the stored procedure here
	@ID int,
	@Password varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[Usuario]
   SET Password = @Password
	WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserByUsuOrId]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateUserByUsuOrId](
@ID int,
@Activo bit,
@Admin bit,
@Apellido varchar(50),
@Idioma_ID smallint,
@Nombre varchar(50),
@UserName varchar(20),
@Intentos int,
@Email varchar(50),
@Foto image = NULL
)
as
update usuario
set
Activo = @Activo,
Admin = @Admin,
Apellido = @Apellido,
Idioma_ID = @Idioma_ID,
Nombre = @Nombre,
UserName = @UserName,
Intentos = @Intentos,
Email = @Email,
Foto = @Foto
where
ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[UpdateTraduccionByID]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateTraduccionByID]
	-- Add the parameters for the stored procedure here
	@ID int,
	@Traduccion varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update [Idioma_Control]
set
Traduccion = @Traduccion
where
ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveAllComponentesFromUsu]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RemoveAllComponentesFromUsu]
(
@UsuId int
)
as

delete from usuario_componente
where Usu_ID=@UsuId;
GO
/****** Object:  StoredProcedure [dbo].[CreateTraduccion]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateTraduccion]
	-- Add the parameters for the stored procedure here
	(
 @Idioma_ID as int,
 @Traduccion as varchar(255),
 @Control_ID as int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[Idioma_Control]
           ([Idioma_ID]
           ,[Traduccion]
           ,[Control_ID])
     VALUES
           (@Idioma_ID
           ,@Traduccion
           ,@Control_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[NewUser]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[NewUser]
(
@Activo bit,
@Admin bit,
@Apellido varchar(50),
@Idioma_Id int,
@Nombre varchar(50),
@Password varchar(50),
@UserName varchar(50),
@Email varchar(50)
)
as
insert into Usuario
(
Activo,
Admin,
Apellido,
Idioma_ID,
Nombre,
Password,
UserName,
Intentos,
Email 
)
values
(
@Activo,
@Admin,
@Apellido,
@Idioma_Id,
@Nombre,
@Password,
@UserName,
0,
@Email
);

SELECT @@IDENTITY AS 'Identity';
GO
/****** Object:  StoredProcedure [dbo].[GetComponentsByUsu]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetComponentsByUsu]
(
@usu int
)
as
select C.* from usuario U
inner join usuario_componente UC on U.ID=UC.Usu_ID
inner join componente C on UC.Comp_ID=C.ID
where U.id=@usu
GO
/****** Object:  StoredProcedure [dbo].[GetComponentsByFamily]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetComponentsByFamily]
(
@fam int
)
as
select C.* from componente_parent CP
inner join componente C on CP.Child_ID=C.ID
where Parent_ID=@fam
GO
/****** Object:  StoredProcedure [dbo].[IdiomaCrear]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[IdiomaCrear]
	-- Add the parameters for the stored procedure here
	@IdiomaID As Integer,
	@IdiomaDesc As varchar(50),
	@Codigo as varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
INSERT INTO [dbo].[Idioma]
           ([ID], [Nombre], [Codigo])
     VALUES
           (@IdiomaID, @IdiomaDesc, @Codigo)

INSERT INTO [dbo].[Idioma_Control]
           ([Idioma_ID]
           ,[Traduccion]
           ,[Control_ID])
     SELECT TOP 2000 
      @IdiomaID,
      [Traduccion],
      [Control_ID]
  FROM [agrorobots].[dbo].[Idioma_Control]
  WHERE [Idioma_ID] = 1
END
GO
/****** Object:  StoredProcedure [dbo].[IdiomaBorrar]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[IdiomaBorrar]
	-- Add the parameters for the stored procedure here
	@IdiomaID As Integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Idioma_Control]
      WHERE [Idioma_ID] = @IdiomaID

	DELETE FROM [dbo].[Idioma]
      WHERE [ID] = @IdiomaID
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserName]    Script Date: 10/12/2015 21:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetUserByUserName](
@usu varchar(20)
)
as
select * from usuario
where UserName=@usu
GO
/****** Object:  StoredProcedure [dbo].[GetTranslationsByIdiom]    Script Date: 10/12/2015 21:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetTranslationsByIdiom]
	-- Add the parameters for the stored procedure here
	@Idiom int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [ID]
      ,[Idioma_ID]
      ,[Traduccion]
      ,[Control_ID]
  FROM [agrorobots].[dbo].[Idioma_Control]
  WHERE [Idioma_ID] = @Idiom
  ORDER BY [Control_ID]
END
GO
/****** Object:  StoredProcedure [dbo].[GetTranslationsByForm]    Script Date: 10/12/2015 21:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetTranslationsByForm]
(
@FormId int,
@Idiom int
)
as
select IC.Control_ID, IC.Traduccion from control C 
inner join Idioma_Control IC on C.ID=IC.Control_ID
where C.Form_ID = @FormId and Idioma_ID = @Idiom
union
select IC.Control_ID, IC.Traduccion from control C 
inner join Idioma_Control IC on C.ID=IC.Control_ID
where 
C.Id=@FormId and Idioma_ID = @Idiom
GO
/****** Object:  StoredProcedure [dbo].[DeleteTraduccion]    Script Date: 10/12/2015 21:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteTraduccion]
	-- Add the parameters for the stored procedure here
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[Idioma_Control]
      WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[CleanFamily]    Script Date: 10/12/2015 21:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CleanFamily]
(
@parent int
)
as
delete from componente_Parent
where Parent_Id=@parent
GO
/****** Object:  StoredProcedure [dbo].[AssignPermissionToUser]    Script Date: 10/12/2015 21:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AssignPermissionToUser]
(
@Usu_Id int,
@Comp_Id int
)
as
insert into usuario_componente
(
Usu_id,
Comp_id
)
values
(
@Usu_Id,
@Comp_Id
)
GO
/****** Object:  StoredProcedure [dbo].[AsignarCompAFam]    Script Date: 10/12/2015 21:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AsignarCompAFam]
(
@child int,
@parent int
)
as
insert into componente_parent
(Child_Id, Parent_Id)
values
(@child, @parent)
GO
/****** Object:  ForeignKey [FK_Child_Id]    Script Date: 10/12/2015 21:06:02 ******/
ALTER TABLE [dbo].[Componente_Parent]  WITH CHECK ADD  CONSTRAINT [FK_Child_Id] FOREIGN KEY([Child_Id])
REFERENCES [dbo].[Componente] ([ID])
GO
ALTER TABLE [dbo].[Componente_Parent] CHECK CONSTRAINT [FK_Child_Id]
GO
/****** Object:  ForeignKey [FK_Parent_Id]    Script Date: 10/12/2015 21:06:02 ******/
ALTER TABLE [dbo].[Componente_Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Id] FOREIGN KEY([Parent_Id])
REFERENCES [dbo].[Componente] ([ID])
GO
ALTER TABLE [dbo].[Componente_Parent] CHECK CONSTRAINT [FK_Parent_Id]
GO
/****** Object:  ForeignKey [FK_Form_ID]    Script Date: 10/12/2015 21:06:02 ******/
ALTER TABLE [dbo].[Control]  WITH CHECK ADD  CONSTRAINT [FK_Form_ID] FOREIGN KEY([Form_ID])
REFERENCES [dbo].[Formulario] ([ID])
GO
ALTER TABLE [dbo].[Control] CHECK CONSTRAINT [FK_Form_ID]
GO
/****** Object:  ForeignKey [FK_Idioma_ID]    Script Date: 10/12/2015 21:06:03 ******/
ALTER TABLE [dbo].[Idioma_Control]  WITH CHECK ADD  CONSTRAINT [FK_Idioma_ID] FOREIGN KEY([Idioma_ID])
REFERENCES [dbo].[Idioma] ([ID])
GO
ALTER TABLE [dbo].[Idioma_Control] CHECK CONSTRAINT [FK_Idioma_ID]
GO
/****** Object:  ForeignKey [FK_Comp_ID]    Script Date: 10/12/2015 21:06:03 ******/
ALTER TABLE [dbo].[Usuario_Componente]  WITH CHECK ADD  CONSTRAINT [FK_Comp_ID] FOREIGN KEY([Comp_ID])
REFERENCES [dbo].[Componente] ([ID])
GO
ALTER TABLE [dbo].[Usuario_Componente] CHECK CONSTRAINT [FK_Comp_ID]
GO
/****** Object:  ForeignKey [FK_Usuario_Idioma_ID]    Script Date: 10/12/2015 21:06:03 ******/
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma_ID] FOREIGN KEY([Idioma_ID])
REFERENCES [dbo].[Idioma] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma_ID]
GO
